fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pydantic-settings
sqlalchemy
aiosqlite
google-generativeai
langchain
langchain-google-genai
langchain-community
langchain-chroma
chromadb
python-docx
PyPDF2
beautifulsoup4
requests
langchain-groq
fpdf2
